{% import '@' ~ tpl_namespace ~ '/macro.html.twig' as macro %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}一个页面{% endblock %} - {{ app_name|default('一个网站') }}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% block css %}
      <!-- Bootstrap 3.3.6 -->
      {{ macro.link(tpl_config.adminlte_assets_url|default('') ~ '/bootstrap/css/bootstrap.min.css') }}
      <!-- Font Awesome -->
      {{ macro.link(tpl_config.font_awesome_assets_url|default('') ~ '/css/font-awesome.min.css') }}
      <!-- Ionicons -->
      {{ macro.link(tpl_config.ionicons_assets_url|default('') ~ '/css/ionicons.min.css') }}
      <!-- Theme style -->
      {{ macro.link(tpl_config.adminlte_assets_url|default('') ~ '/dist/css/AdminLTE.min.css') }}
    {% endblock %}
    {% block head_js %}{% endblock %}
  </head>
  {% block body %}
    <body>
      {% block side_wrapper %}{% endblock %}
      {% block foot_js %}
        <!-- jQuery 2.2.3 -->
        <script src="{{ tpl_config.adminlte_assets_url|default('') }}/plugins/jQuery/jquery-2.2.3.min.js"></script>
        <!-- Bootstrap 3.3.6 -->
        <script src="{{ tpl_config.adminlte_assets_url|default('') }}/bootstrap/js/bootstrap.min.js"></script>
      {% endblock %}
  {% endblock %}
    </body>
</html>
