{% block form_row -%}
  {% set valid = true %}

  <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
    {{- block('form_label') -}}
    {{- block('form_widget') -}}
    {{- block('form_errors') -}}
  </div>
{%- endblock form_row %}

{% block form_label -%}
  {% if variable.label is defined %}
    {% set label = variable.label %}
  {% elseif form.label is defined %}
    {% set label = form.label %}
  {% endif %}

  {% if variable.label_attr is iterable %}
    {% set label_attr = variable.label_attr %}
  {% else %}
    {% set label_attr = {} %}
  {% endif %}

  {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' control-label')|trim}) -%}

  {% if label is not same as(false) -%}
    {% if not compound -%}
      {% set label_attr = label_attr|merge({'for': id}) %}
    {%- endif -%}
    {% if required -%}
      {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
    {%- endif -%}
    {% if label is empty -%}
      {% set label = name %}
    {%- endif -%}
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label }}</label>
  {%- endif -%}
{%- endblock form_label %}

{%- block form_widget -%}
  {% if variable.attr is iterable %}
    {% set attr = variable.attr %}
  {% else %}
    {% set attr = {} %}
  {% endif %}

  {% if compound %}
    {{- block('form_widget_compound') -}}
  {% else %}
    {{- block('form_widget_simple') -}}
  {% endif %}
{%- endblock form_widget -%}

{% block form_errors -%}
  {% if errors|length > 0 -%}
    {% if form.parent %}<span class="help-block">{% else %}<div class="alert alert-danger">{% endif %}
      <ul class="list-unstyled">
        {%- for error in errors -%}
          <li><span class="glyphicon glyphicon-exclamation-sign"></span> {{ error.message }}</li>
        {%- endfor -%}
      </ul>
      {% if form.parent %}</span>{% else %}</div>{% endif %}
  {%- endif %}
{%- endblock form_errors %}

{%- block form_widget_simple -%}
  {% if type is not defined or type not in ['file', 'hidden'] %}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) -%}
  {% endif %}

  {%- set type = type|default('text') -%}
  <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock form_widget_simple -%}

{%- block form_widget_compound -%}
  {#
  <div {{ block('widget_container_attributes') }}>
  {%- if form.parent is empty -%}
  {{ form_errors(form) }}
  {%- endif -%}
  {{- block('form_rows') -}}
  {{- form_rest(form) -}}
  </div>
  #}
{%- endblock form_widget_compound -%}

{%- block widget_attributes -%}
  {% if variable.full_name is defined %}
    {% set full_name = variable.full_name %}
  {% else %}
    {% set full_name = name %}
  {% endif %}

  id="{{ id }}" name="{{ full_name }}"
  {%- if disabled %} disabled="disabled"{% endif -%}
  {%- if required %} required="required"{% endif -%}
  {%- for attrname, attrvalue in attr -%}
    {{- " " -}}
    {%- if attrname in ['placeholder', 'title'] -%}
      {{- attrname }}="{{ attrvalue }}"
    {%- elseif attrvalue is same as(true) -%}
      {{- attrname }}="{{ attrname }}"
    {%- elseif attrvalue is not same as(false) -%}
      {{- attrname }}="{{ attrvalue }}"
    {%- endif -%}
  {%- endfor -%}
{%- endblock widget_attributes -%}
